# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
.metadata/
Servers/
target/
.settings/

.classpath
.project
.springBeans
#PuglyProject/src/main/java/com/kh/pugly/board/model/service/BoardServiceImpl.java
/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/jdk11.0.25_9
