<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	

	<!-- 
		DB연결 정보
		=> DB등록정보는 서버가 실행됨과 동시에 이루어져야 하는 작업임
		서버가 켜지면 바로 읽히는 root-context.xml에 작성 예정 ==> Spring Bean등록
	 -->
	 <typeAliases>
		<typeAlias type="com.kh.pugly.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.pugly.farm.model.vo.Farm" alias="farm"/>
		<typeAlias type="com.kh.pugly.farm.model.vo.FarmProduct" alias="farmProduct"/>
		<typeAlias type="com.kh.pugly.farm.model.vo.StateCategory" alias="stateCategory"/>
		<typeAlias type="com.kh.pugly.common.model.vo.Image" alias="image" />
		<typeAlias type="com.kh.pugly.farm.model.dto.FarmPrice" alias="farmPrice"/>
		<typeAlias type="com.kh.pugly.farm.model.dto.LikeAndAttention" alias="likeAndAtt" />
	</typeAliases>
	 
	 <mappers>
	 	<mapper resource="/mapper/farm-mapper.xml" />
	 	<mapper resource="/mapper/member-mapper.xml"/>
	 	
	 </mappers>
	 <!-- 
	 -->
</configuration>