<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.pugly.board.model.dao.BoardMapper">

	<sql id="boardColumn">
		SELECT
			   BOARD_NO boardNo,
			   BOARD_TITLE boardTitle,
			   BOARD_CONTENT boardContent,
			   M.NICKNAME nickName,
			   COUNT,
			   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as createDate
		 FROM
		 	  TB_BOARD
		 JOIN
		 	  TB_MEMBER M ON (MEMBER_NO = BOARD_WRITER) 
		WHERE
			  STATUS = 'Y'
	      
	</sql>
	
	<select id="selectTotalCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM	
		       TB_BOARD
		 WHERE
		       STATUS = 'Y'
	</select>

	<select id="selectBoardList" resultType="board">
		SELECT
			   BOARD_NO boardNo,
			   BOARD_TITLE boardTitle,
			   M.NICKNAME nickName,
			   COUNT,
			   TO_CHAR(B.CREATE_DATE,'YYYY-MM-DD') as createDate
		  FROM
		       TB_BOARD B
		  JOIN
		  	   TB_MEMBER M ON (M.MEMBER_NO = B.BOARD_WRITER)
		 WHERE
		  	   B.STATUS = 'Y'
		 ORDER
		 	BY
		       BOARD_NO DESC
	</select>
	
	<update id="increaseCount" parameterType="long">
		UPDATE
			   TB_BOARD
		   SET
		   	   COUNT = COUNT + 1
		 WHERE
		 	   STATUS = 'Y'
		   AND
		  	   BOARD_NO = #{boardNo}
	</update>
	
	<select id="selectById" resultType="board" parameterType="long">
		<include refid="boardColumn" />
		AND
		    BOARD_NO = #{boardNo}
	</select>
	
	<insert id="insertBoard" parameterType="board">
		INSERT
		  INTO
		  	   TB_BOARD
		  	   (
		  	   BOARD_NO,
		  	   BOARD_WRITER,
		  	   BOARD_TITLE,
		  	   BOARD_CONTENT,
		  	   MAIN_CATEGORY_NO,
		  	   COUNT
		  	   )
		VALUES
			   (
			    SEQ_BNO.NEXTVAL,
			    #{boardWriter},
			    #{boardTitle},
			    #{boardContent},
			    #{mainCategoryNo},
			    #{count} 
			   )
	</insert>	
	
	<delete id="deleteBoard" parameterType="long">
		UPDATE
			   TB_BOARD
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   STATUS = 'Y'
		   AND
		   	   BOARD_NO = #{boardNo}
	</delete>
	
	<update id="updateBoard" parameterType="board">
		UPDATE
			   TB_BOARD
		   SET
		   	   BOARD_TITLE = #{baordTitle},
		   	   BOARD_CONTENT = #{boardContent}
		 WHERE
		 	   STATUS = 'Y'
		   AND
		   	   BOARD_NO = #{boardNo}			  
	</update>
	
	

</mapper>