<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace ="com.kh.pugly.common.model.dao.ImageMapper">

	<insert id="insertImage" parameterType="image">
		INSERT
		  INTO
		       TB_IMAGE
		       (
		       IMG_NO,
		       ORIGIN_IMG_NAME,
		       CHANGE_IMG_NAME,
		       IMG_PATH,
		       IMG_LEVEL,
		       IMG_POST_NO,
		       CATEGORY_NO,
		       IMG_STATUS
		       )
		VALUES
		       (
		       SEQ_INO.NEXTVAL,
		       #{originImgName},
		       #{changeImgName},
		       #{imgPath},
		       #{imgLevel},
		       #{postNo},
		       #{categoryNo},
		       'Y'
		       )
	</insert>
	
	<update id="deleteImage" parameterType="string">
		UPDATE
		       TB_IMAGE
		   SET
		       IMG_STATUS = 'N'
		 WHERE
		       CHANGE_IMG_NAME = #{changeImgName}
	</update>
	
	<select id="selectByFarmNo" parameterType="no" resultType="image">
		SELECT
		       IMG_PATH imgPath,
		       ORIGIN_IMG_NAME originImgName,
		       CHANGE_IMG_NAME changeImgName,
		       IMG_LEVEL imgLevel
		 FROM
		      TB_IMAGE
		WHERE
		      IMG_STATUS = 'Y'
		 AND
		      IMG_POST_NO = #{farmNo}
		 AND
		      CATEGORY_NO = #{categoryNo}    
	</select>
	
	<update id="updateImage" parameterType="image">
		UPDATE
		       TB_IMAGE
		   SET
		       IMG_LEVEL = #{imgLevel}
		 WHERE
		       CHANGE_IMG_NAME = #{changeImgName}
	</update>
	
	<update id="deleteFarmImg" parameterType="map">
		UPDATE
		       TB_IMAGE
		   SET
		       IMG_STATUS = 'N'
		 WHERE
		       IMG_POST_NO = #{farmNo}
		   AND
		       CATEGORY_NO = #{categoryNo}
	</update>
	
	<update id="deleteImgNo" parameterType="long">
		UPDATE
		       TB_IMAGE
		   SET
		       IMG_STATUS = 'N'
		 WHERE
		       IMG_NO = #{imgNo}
	</update>
</mapper>