<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.pugly.board.model.dao.InquiryMapper">
 	
 	<sql id="inquiryColumn">
		SELECT
			   INQUIRY_NO inquiryNo,
			   INQUIRY_TITLE inquiryTitle,
			   INQUIRY_CONTENT inquiryContent,
			   M.NICKNAME nickname,
			   COUNT,
			   TO_CHAR(I.CREATE_DATE, 'YYYY-MM-DD') as createDate,
			   INQUIRY_PASSWORD inquiryPassword
		 FROM
		 	  TB_INQUIRY I
		 JOIN
		 	  TB_MEMBER M ON (M.MEMBER_NO = I.INQUIRY_WRITER) 
		WHERE
			  I.STATUS = 'Y'
	      
	</sql>
	
	<sql id="selectList">
		SELECT
			   INQUIRY_NO inquiryNo,
			   INQUIRY_TITLE inquiryTitle,
			   M.NICKNAME nickname,
			   COUNT,
			   ANSWER_STATUS answerStatus,
			   INQUIRY_GROUP inquiryGroup,
			   TO_CHAR(I.CREATE_DATE,'YYYY-MM-DD') as createDate,
			   INQUIRY_PASSWORD inquiryPassword
		  FROM
		       TB_INQUIRY I
		  JOIN
		  	   TB_MEMBER M ON (M.MEMBER_NO = I.INQUIRY_WRITER)
		 WHERE
		  	   I.STATUS = 'Y'
	</sql>
	
	<select id="totalCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM	
		       TB_INQUIRY
		 WHERE
		       STATUS = 'Y'
	</select>

	<select id="selectInquiryList" resultType="inquiry">
		<include refid="selectList"/>
		 ORDER
		 	BY
		       INQUIRY_GROUP DESC, INQUIRY_NO DESC
	</select>
	
	<update id="increaseCount" parameterType="long">
		UPDATE
			   TB_INQUIRY
		   SET
		   	   COUNT = COUNT + 1
		 WHERE
		 	   STATUS = 'Y'
		   AND
		  	   INQUIRY_NO = #{inquiryNo}
	</update>
	
	<select id="selectById" resultType="inquiry" parameterType="long">
		<include refid="inquiryColumn" />
		AND
		    INQUIRY_NO = #{inquiryNo}
	</select>
	
	<insert id="insertInquiry" parameterType="inquiry">
    	INSERT 
    	  INTO 
    	  	   TB_INQUIRY 
    	  	   (
        	   INQUIRY_NO,
        	   INQUIRY_WRITER,
        	   INQUIRY_TITLE,
        	   INQUIRY_CONTENT,
        	   INQUIRY_PASSWORD
    		   )
    	VALUES 
    		   (
        	   SEQ_QNO.NEXTVAL,
        	   #{inquiryWriter},
        	   #{inquiryTitle},
        	   #{inquiryContent},
        	   #{inquiryPassword}
        	   )
	</insert>
	
	<insert id="insertInquiryForAdmin" parameterType="inquiry">
    	INSERT 
    	  INTO 
    	  	   TB_INQUIRY 
    	  	   (
        	   INQUIRY_NO,
        	   INQUIRY_WRITER,
        	   INQUIRY_TITLE,
        	   INQUIRY_CONTENT,
        	   INQUIRY_GROUP
    		   )
    	VALUES 
    		   (
        	   SEQ_QNO.NEXTVAL,
        	   #{inquiryWriter},
        	   #{inquiryTitle},
        	   #{inquiryContent},
        	   2
        	   )
	</insert>
	
	
	<delete id="deleteInquiry" parameterType="long">
		UPDATE
			   TB_INQUIRY
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   STATUS = 'Y'
		   AND
		   	   INQUIRY_NO = #{inquiryNo}
	</delete>
	
	<select id="countSearchInquiry" parameterType="hashmap" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_INQUIRY I
		  JOIN
		  	   TB_MEMBER M ON (INQUIRY_WRITER = M.MEMBER_NO)
		 WHERE
		 	   I.STATUS = 'Y'
		   AND	
		       M.NICKNAME LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="searchInquiryList" parameterType="map" resultType="inquiry">
    	<include refid="selectList" />
    	AND
            M.NICKNAME LIKE '%' || #{keyword} || '%'
      ORDER
		 BY
		   INQUIRY_GROUP DESC, INQUIRY_NO DESC
	</select>
	
	<update id="updateAnswerState" parameterType="long">
		UPDATE
			   TB_INQUIRY
		   SET
		   	   ANSWER_STATUS = 'Y'
		 WHERE
		 	   ANSWER_STATUS = 'N'
		   AND
		   	   INQUIRY_NO = #{inquiryNo}
	</update>
 
 </mapper>