<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.pugly.board.model.dao.InquiryMapper">
 	
 	<sql id="inquiryColumn">
		SELECT
			   INQUIRY_NO inquiryNo,
			   INQUIRY_TITLE inquiryTitle,
			   INQUIRY_CONTENT inquiryContent,
			   M.NICKNAME nickName,
			   COUNT,
			   TO_CHAR(I.CREATE_DATE, 'YYYY-MM-DD') as createDate
		 FROM
		 	  TB_INQUIRY I
		 JOIN
		 	  TB_MEMBER M ON (M.MEMBER_NO = I.INQUIRY_WRITER) 
		WHERE
			  I.STATUS = 'Y'
	      
	</sql>
	
	<sql id="selectList">
		SELECT
			   INQUIRY_NO inquiryNo,
			   INQUIRY_TITLE inquiryTitle,
			   M.NICKNAME nickName,
			   COUNT,
			   ANSWER_STATUS answerStatus,
			   TO_CHAR(I.CREATE_DATE,'YYYY-MM-DD') as createDate
		  FROM
		       TB_INQUIRY I
		  JOIN
		  	   TB_MEMBER M ON (M.MEMBER_NO = I.INQUIRY_WRITER)
		 WHERE
		  	   I.STATUS = 'Y'
	</sql>
	
	<select id="totalCount" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM	
		       TB_INQUIRY
		 WHERE
		       STATUS = 'Y'
	</select>

	<select id="selectInquiryList" resultType="inquiry">
		<include refid="selectList"/>
		 ORDER
		 	BY
		       INQUIRY_GROUP DESC, INQUIRY_NO DESC
	</select>
	
	<update id="increaseCount" parameterType="long">
		UPDATE
			   TB_INQUIRY
		   SET
		   	   COUNT = COUNT + 1
		 WHERE
		 	   STATUS = 'Y'
		   AND
		  	   INQUIRY_NO = #{inquiryNo}
	</update>
	
	<select id="selectById" resultType="inquiry" parameterType="long">
		<include refid="inquiryColumn" />
		AND
		    INQUIRY_NO = #{inquiryNo}
	</select>
	
	<insert id="insertInquiry" parameterType="inquiry">
    	INSERT 
    	  INTO 
    	  	   TB_INQUIRY 
    	  	   (
        	   INQUIRY_NO,
        	   INQUIRY_WRITER,
        	   INQUIRY_TITLE,
        	   INQUIRY_CONTENT,
        	   COUNT,
        	   INQUIRY_GROUP
    		   )
    	VALUES 
    		   (
        	   SEQ_QNO.NEXTVAL,
        	   #{inquiryWriter},
        	   #{inquiryTitle},
        	   #{inquiryContent},
        	   #{count},
        	   (
               SELECT 
               	 CASE WHEN NICKNAME = '관리자' THEN 2 ELSE 1 END
            	 FROM 
            	 	  TB_MEMBER
            	WHERE 
            		  MEMBER_NO = #{inquiryWriter}
        	   )
               )
	</insert>	
	
	<delete id="deleteInquiry" parameterType="long">
		UPDATE
			   TB_INQUIRY
		   SET
		   	   STATUS = 'N'
		 WHERE
		 	   STATUS = 'Y'
		   AND
		   	   INQUIRY_NO = #{inquiryNo}
	</delete>
	
	<select id="countSearchInquiry" parameterType="hashmap" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		  	   TB_INQUIRY I
		  JOIN
		  	   TB_MEMBER M ON (INQUIRY_WRITER = M.MEMBER_NO)
		 WHERE
		 	   I.STATUS = 'Y'
		 <if test="condition == 'content'">
		   AND	
		       INQUIRY_CONTENT
		 </if>  
		 <if test="condition == 'writer'">
		   AND	
		       M.NICKNAME
		 </if>
		 <if test="condition == 'title'">
		   AND	
		       INQUIRY_TITLE
		 </if>  
		 LIKE '%' || #{keyword} || '%'
	</select>
	
	<select id="searchInquiryList" parameterType="map" resultType="inquiry">
    	<include refid="selectList" />
    	AND
    	<choose>
        	<when test="condition == 'writer'">
            	M.NICKNAME
        	</when>
        	<when test="condition == 'title'">
            	INQUIRY_TITLE
	        </when>
	        <otherwise>
	            INQUIRY_CONTENT
	        </otherwise>
    	</choose>
    	LIKE '%' || #{keyword} || '%'
     ORDER
		BY
		   INQUIRY_GROUP DESC, INQUIRY_NO DESC
	</select>
 
 </mapper>