<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.pugly.member.model.dao.MemberMapper">
	<select id="selectMember" parameterType="member" resultType="member">
		SELECT
               MEMBER_NO memberNo,
               FK_CATEGORY_NO categoryNo,
               MEMBER_ID memberId,
               MEMBER_PWD memberPwd,
               NICKNAME nickName,
               MEMBER_NAME memberName,
               PHONE phone,
               TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') AS createDate
          FROM
               TB_MEMBER
         WHERE
               STATUS = 'Y'
           AND
               MEMBER_ID = #{memberId}
           AND
               FK_CATEGORY_NO = #{categoryNo}
	</select>
	<select id="selectAddresses" parameterType="long" resultType="com.kh.pugly.common.model.vo.Address">
		SELECT
               ADDRESS_NO addressNo,
               SC.STATE_CODE stateCode,
               STATE_NAME stateName,
               ADDRESS_TYPE addressType,
               DISTRICT district
          FROM
               TB_ADDRESS AD
          JOIN
               TB_STATE_CATEGORY SC ON(SC.STATE_CODE = AD.STATE_CODE)
          JOIN
               TB_MEMBER ME ON(AD.MEMBER_NO = ME.MEMBER_NO)
         WHERE
               ME.MEMBER_NO = #{memberNo}
         ORDER
            BY
               ADDRESS_TYPE
	</select>
	
	<select id="selectStateCategory" resultType="com.kh.pugly.common.model.vo.Address">
		SELECT
		       STATE_CODE stateCode,
		       STATE_NAME stateName
		  FROM
		       TB_STATE_CATEGORY
		 ORDER
		    BY
		       STATE_CODE
	</select>
	
	<insert id="insertMember" parameterType="member">
		INSERT
          INTO
	           TB_MEMBER
	           (
	           MEMBER_NO,
	           FK_CATEGORY_NO,
	           MEMBER_ID,
	           MEMBER_PWD,
	           NICKNAME,
	           MEMBER_NAME,
	           PHONE 
	           )
        VALUES
               (
               SEQ_MNO.NEXTVAL,
               #{categoryNo},
               #{memberId},
               #{memberPwd},
               #{nickName},
               #{memberName},
               #{phone}
               )
	</insert>
	<insert id="insertAddress" parameterType="com.kh.pugly.common.model.vo.Address">
		INSERT
          INTO
               TB_ADDRESS
               (
               ADDRESS_NO,
               STATE_CODE,
               MEMBER_NO,
               ADDRESS_TYPE,
               DISTRICT
               )
        VALUES
               (
               SEQ_ANO.NEXTVAL,
               #{stateCode},
               SEQ_MNO.CURRVAL,
               1,
               #{district}
               )
	</insert>


</mapper>