<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.pugly.reply.model.dao.ReplyMapper">
 
	 <insert id="insertReply" parameterType="reply">
	 	INSERT
	 	  INTO
	 	  	   TB_REPLY
	 	  	   (
	 	  	   REPLY_NO,
	 	  	   REF_BNO,
	 	  	   WRITER_NICKNAME,
	 	  	   REPLY_CONTENT
	 	  	   )
	 	VALUES
	 		   (
	 		   #{replyNo},
	 		   #{refBno},
	 		   #{writerNickname},
	 		   #{replyContent}
	 		   )
	 </insert>
	 
	 <select id="selectReplyList" parameterType="Long" resultType="reply">
	 	SELECT
	 		   REPLY_NO replyNo,
	 		   WRITER_NICKNAME writerNickname,
	 		   REPLY_CONTENT replyContent,
	 		   TO_CHAR(CREATE_DATE, 'YYYY-MM-DD') as createDate
	 	  FROM
	 	  	   TB_REPLY
	 	 WHERE
	 	 	   STATUS = 'Y'
	 	   AND
	 	   	   REF_BNO = #{refBno}
	 	 ORDER
	 	 	BY
	 	 	   REPLY_NO DESC
	 </select>
 
 </mapper>