<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.pugly.review.model.dao.ReviewMapper">
 	<select id="reviewCount" resultType="_int" parameterType="long">
 		SELECT
		       COUNT(REVIEW_NO)
		  FROM
		       TB_REVIEW
		 WHERE
		       REVIEW_POST_NO = #{farmNo}
 	</select>
 	
 	<select id="selectReviewList" parameterType="long" resultType="review">
 		
 	</select>
 </mapper>