<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.kh.pugly.review.model.dao.ReviewMapper">
 	<select id="reviewCount" resultType="_int" parameterType="long">
 		SELECT
		       COUNT(REVIEW_NO)
		  FROM
		       TB_REVIEW
		 WHERE
		       REVIEW_POST_NO = #{farmNo}
 	</select>
 	
 	<resultMap id="reviewMap" type="review">
 		<id property="reviewNo" column="reviewNo" />
 		<result property="reviewer" column="reviewer" />
 		<result property="reviewContent" column="reviewContent" />
 		<result property="rating" column="rating" />
 		<result property="reviewPostNo" column="reviewPostNo" />
 		<result property="reviewCreateDate" column="reviewCreateDate" />
 		<result property="reviewModifyDate" column="reviewModifyDate" />
 		<collection property="imgList" ofType="image">
 			<result property="imgNo" column="imgNo" />
 			<result property="imgLevel" column="imgLevel" />
 			<result property="originImgName" column="originImgName" />
 			<result property="changeImgName" column="changeImgName" />
 			<result property="imgPath" column="imgPath" />
 			<result property="status" column="status" />
 		</collection>
 	</resultMap>
 	
 	<select id="selectReviewList" parameterType="long" resultMap="reviewMap">
 		SELECT
		       REVIEW_NO reviewNo,
		       NICKNAME reviewer,
		       REVIEW_CONTENT reviewContent,
		       RATING rating,
		       REVIEW_POST_NO reviewPostNo,
		       REVIEW_CREATE_DATE reviewCreateDate,
		       REVIEW_MODIFY_DATE reviewModifyDate,
		       IMG_NO imgNo,
		       ORIGIN_IMG_NAME originImgName,
		       CHANGE_IMG_NAME changeImgName,
		       IMG_LEVEL imgLevel,
		       IMG_PATH imgPath,
		       IMG_STATUS status
		  FROM
		       TB_REVIEW
		  JOIN
		       TB_MEMBER ON(MEMBER_NO = REVIEW_MB_NO)
		  LEFT
		  JOIN
		       TB_IMAGE ON (IMG_POST_NO = REVIEW_NO)
		  JOIN
		       TB_FARM ON (FARM_NO = REVIEW_POST_NO)
		 WHERE
		       TB_IMAGE.CATEGORY_NO = 4
		   AND
		       REVIEW_POST_NO = ${farmNo}
 	</select>
 	<insert id="insertReview" parameterType="review">
 		<selectKey keyProperty="reviewNo" order="BEFORE" resultType="long">
			SELECT
			       SEQ_REVIEWNO.NEXTVAL
			  FROM
			       DUAL
 		</selectKey>
 		INSERT
 		  INTO
 		       TB_REVIEW
 		       (
 		       REVIEW_NO,
 		       REVIEW_MB_NO,
 		       REVIEW_CONTENT,
 		       RATING,
 		       REVIEW_POST_NO,
 		       POST_CATEGORY_NO
 		       )
 		VALUES
 		       (
 		       #{reviewNo},
 		       #{reviewer},
 		       #{reviewContent},
 		       #{rating},
 		       #{reviewPostNo},
 		       #{postCategoryNo}
 		       )
 	</insert>
 	<update id="deleteReview" parameterType="long">
 		UPDATE
 		       TB_REVIEW
 		   SET
 		       REVIEW_STATUS = 'N'
 		 WHERE
 		       REVIEW_POST_NO = #{farmNo}
 		  AND
 		      POST_CATEGORY_NO = 3
 	</update>
 </mapper>